<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\python373x64\python.exe|D:\home\site\wwwroot\backend\main.py" resourceType="Unspecified" requireAccess="Script"/>
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="backend/main.py" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <match url="^(static|images)/.*" />
          <action type="Rewrite" url="{R:0}" />
        </rule>
        <rule name="API Routes" stopProcessing="true">
          <match url="^api/.*" />
          <action type="Rewrite" url="backend/main.py" />
        </rule>
        <rule name="Frontend Routes" stopProcessing="false">
          <match url="^(?!api).*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="backend/static/frontend/index.html" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
</configuration>